:root {
  color-scheme: only light; /* Блокирует темную тему */
}

* {
    font-family: 'Monsterreat', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'Majestic';
  src: 
    url('../fonts/Majestic_0.woff2') format('woff2'), 
    url('../fonts/Majestic_0.woff') format('woff'),   
    url('../fonts/Majestic_0.ttf') format('truetype'); 
  font-weight: 400;
  font-display: swap;
}

body {
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  /* светлый оверлей */
  .background-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.153), rgba(255, 255, 255, 0.153));
    z-index: 1;
  }
  .container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }  
  .main {
    margin-top: 30px;
    &__wrapper {
      position: relative;
      display: flex;
      margin: 0 auto;
      width: min(80vmin, 100% - 40px); /* Более надежная формула */
      height: 80vmin;
      max-width: 800px; /* Фиксируем максимальный размер */
      aspect-ratio: 1/1; /* Сохраняем квадратные пропорции */
      align-items: center;
      justify-content: center;
      overflow: hidden;
      box-sizing: border-box;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../img/bg1main.jpg') center/cover no-repeat;
        opacity: 0.4;
        z-index: 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      }
      
      &__header {
        position: relative;
        z-index: 1;
        font-family: 'Majestic';
        font-size: clamp(40px, 12vmin, 100px);
        color: #a28780;
      }
    }  
  }
  // Музыка
  .music {
    margin: 70px 0;
    &__header {
      text-align: center;
      line-height: 1;
      color: #a28780;
      font-size: 20px;
      font-family: 'Poiret One';
      font-weight: 800;
    }
    .play-btn {
      display: block;
      margin: 0 auto;
      color: #a28780;
      font-size: 24px;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease;
      background: none;
    }
  }

  .guests {
    &__header {
      @include general-header(#a28780);
    }
    &__descr {
      @include general-descr(#a28780);
    }
  }

  // Каледнарь

  .calendar {
      display: inline-block;
      background-color: transparent;
      padding: 15px;
      margin-top: 30px;
      font-weight: 800;
  }
  .month {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px;
      color: #a28780;
      font-family: 'Poiret One';
      font-weight: 800;
  }
  .days-of-week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: bold;
      color: #a28780;
      font-family: 'Poiret One';
      font-weight: 800;
  }
  .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      color: #a28780;
      font-family: 'Poiret One';
      font-weight: 800;
  }
  .day {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-family: 'Poiret One';
      font-weight: 800;
  }
  .day.empty {
      visibility: hidden;
  }
  .heart-day {
    position: relative;
    color: white;
    background-color: #a28780;
    animation: pulse 1.5s infinite;
}
  .heart-day::after {
      content: '❤';
      position: absolute;
      top: -8px;
      right: -8px;
      font-size: 12px;
      color: rgb(197, 29, 29);
  }
  @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
  }

  .program {
    margin-top: 100px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
    &__wrapper {
      display: block;
      margin: 0 auto;
      padding: 40px 10px;
      width: 70%;
      opacity: 0.3;
      background-color: #094f01;
      border-radius: 25px;
      &__header {
        @include general-header(white);
      }
      &__subheader {
        font-size: 20px;
        font-weight: 500;
        font-family: 'Poiret One';
        font-weight: 800;
        color: white;
        margin-bottom: 0;
      }
      &__descr {
        @include general-descr(white);
        margin: 0 auto 20px;
      }
    }
  }
  .program.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .location {
    margin-top: 100px;
    &__header {
      @include general-header(#a28780);
    }
    &__img {
      margin-top: 10px;
      width: 70%;
      border-radius: 25px;
    }
    &__descr {
      @include general-descr(#a28780);
    }
  }

  .dress-code {
    margin-top: 100px;
    &__header {
      @include general-header(#a28780);
    }
    &__descr { 
      @include general-descr(#a28780);
    }
    &__color{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
      opacity: 0;
      transform: translateX(-50px); /* Начальное смещение влево */
      transition: opacity 1.5s ease, transform 1.5s ease;
      .dress-circle {
        width: 40px;
        height: 40px;
        border-radius: 45px;
        margin-top: 15px;
        transition: transform 1.5s ease;
      }
      .chocolate-man {
        background-color: #51352A;
      }
      .dark-chocolate {
        background-color: #8A534C;
      }
      .chocolate {
        background-color: #9F7D64;
      }
      .latte {
        background-color:#D4AF9C;
      }
      .latte-man {
        background-color: #BFA197;
      }
      .olive {
        background-color: #59543E;
      }
      .olive-man {
        background-color: #737051;
      }
      .light-olive {
        background-color: #8E8F6F;
      }
      .white {
        background-color: white;
      }
    }
    &__color.show {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .details {
    margin-top: 100px;
    &__header {
      @include general-header(#a28780);
    }
    &__descr { 
      @include general-descr(#a28780);
    }
  }

  .timer {
    margin-top: 100px;
    &__header {
      font-family: 'great vibes';
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      color: #a28780;
    }
    #countdown {
      display: flex;
      gap: 20px;
      justify-content: center;
      text-align: center;
  
    }
  
    #countdown > div {
        color: #a28780;
        padding: 10px 15px;
        border-radius: 20px;
        border: 2px solid #a28780; 
        min-width: 60px;
    }
  
    #countdown span {
        font-size: 2em;
        font-weight: bold;
    }
  
    .smalltext {
        font-size: 0.8em;
        opacity: 0.8;
    }
  }

  .application {
    margin-top: 100px;
    &__wrapper {
      display: block;
      margin: 0 auto;
      padding: 40px 40px;
      width: 70%;
      opacity: 0.3;
      background-color: #094f01;
      border-radius: 25px;
      &__header {
        @include general-header(white);
        span {
          font-size: 15px;
          font-family: 'Poiret One';
        }
      }
      .form-group {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        font-size: 20px;
        font-family: 'Poiret One';
        color: white;
        .option-item {
          display: flex;
        }
        .transfer-item {
          display: block;
        }
        label, input {
          font-size: 20px;
          font-family: 'Poiret One';
          border-radius: 25px;
          padding: 5px 10px;
        }
        &__question {
          margin-top: 10px;
          font-family: 'Poiret One';
        }
        input[type='text'], input[type='tel']  {
          width: 80%;
        }
      }
      &__btn {
        margin-top: 20px;
        width: 30%;
        border-radius: 25px;
        border: 2px solid #a28780;
        font-size: 20px;
        font-family: 'Poiret One';
      }
    }
  }
  .good_bye {
    margin: 100px 0;
    &__header {
      font-family: 'Majestic';
      font-size: clamp(40px, 10vmin, 100px);
      font-weight: 400;
      text-align: center;
      color: #a28780;
      span {
        color: rgb(197, 29, 29);
        opacity: 0.9;
      }
    }
  }
}