* {
    font-family: 'Monsterreat';
    scroll-behavior: smooth;
}

body {
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  /* светлый оверлей */
  .background-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.651), rgba(255, 255, 255, 0.601));
    z-index: 1;
  }
  .container {
    padding: 0 10%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }  
  .main {
    &__circle {
      display: flex;
      margin: 100px auto;
      border-radius: 50%;
      opacity: 0.3;
      background-color: #094f01;
      width: 600px;
      height: 600px;
      align-items: center;
      justify-content: center;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      h1 {
        font-family: 'Ephesis';
        font-size: 100px;
        font-weight: 400;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    }
  }
  // Музыка
  .music {
    margin: 200px 0 50px;
    &__header {
      text-align: center;
      font-size: 18px;
      line-height: 1;
      color: #a28780;
    }
    .play-btn {
      display: block;
      margin: 0 auto;
      color: #a28780;
      font-size: 24px;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease;
      background: none;
    }
  }

  
  .guests {
    &__header {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      color: #a28780;
    }
    &__descr {
      display: block;
      margin: 0 auto;
      width: 70%;
      text-align: center;
      font-size: 18px;
      line-height: 1.2;
      color: #a28780;
    }
  }  

  // Каледнарь

  .calendar {
      display: inline-block;
      background-color: transparent;
      padding: 15px;
      margin-top: 30px;
  }
  .month {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px;
      color: #a28780;
  }
  .days-of-week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: bold;
      color: #a28780;
  }
  .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      color: #a28780;
  }
  .day {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
  }
  .day.empty {
      visibility: hidden;
  }
  .heart-day {
    position: relative;
    color: white;
    background-color: #a28780;
    animation: pulse 1.5s infinite;
}
  .heart-day::after {
      content: '❤';
      position: absolute;
      top: -8px;
      right: -8px;
      font-size: 12px;
      color: rgb(197, 29, 29);
  }
  @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
  }

  .program {
    margin-top: 100px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
    &__wrapper {
      display: block;
      margin: 0 auto;
      padding: 40px 10px;
      width: 70%;
      opacity: 0.3;
      background-color: #094f01;
      border-radius: 25px;
      color: white;
      &__header {
        font-size: 40px;
        font-weight: 500;
      }
      &__subheader {
        font-size: 30px;
        font-weight: 500;
        margin: 20px 0 0;
      }
    }
  }
  .program.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .location {
    margin-top: 100px;
    &__header {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      color: #a28780;
    }
    &__img {
      margin-top: 30px;
      width: 70%;
      border-radius: 25px;
    }
    &__descr {
      display: block;
      margin: 20px auto;
      width: 70%;
      font-size: 18px;
      line-height: 1.2;
      color: #a28780;
    }
  }

  .dress-code {
    margin-top: 100px;
    &__header {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      color: #a28780;
    }
    &__descr { 
      display: block;
      margin: 0 auto;
      width: 70%;
      font-size: 18px;
      line-height: 1.2;
      color: #a28780;
    }
    &__color{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
      opacity: 0;
      transform: translateX(-50px); /* Начальное смещение влево */
      transition: opacity 1.5s ease, transform 1.5s ease;
      .dress-circle {
        width: 40px;
        height: 40px;
        border-radius: 45px;
        margin-top: 15px;
        transition: transform 1.5s ease;
      }
      .chocolate-man {
        background-color: #51352A;
      }
      .dark-chocolate {
        background-color: #8A534C;
      }
      .chocolate {
        background-color: #9F7D64;
      }
      .latte {
        background-color:#D4AF9C;
      }
      .latte-man {
        background-color: #BFA197;
      }
      .olive {
        background-color: #59543E;
      }
      .olive-man {
        background-color: #737051;
      }
      .light-olive {
        background-color: #8E8F6F;
      }
      .white {
        background-color: white;
      }
    }
    &__color.show {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .details {
    margin-top: 100px;
    &__header {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      color: #a28780;
    }
    &__descr { 
      display: block;
      margin: 0 auto;
      width: 70%;
      font-size: 18px;
      line-height: 1.2;
      color: #a28780;
      margin-bottom: 10px;
    }
  }
  .application {
    margin-top: 100px;
    &__wrapper {
      display: block;
      margin: 0 auto;
      padding: 40px 40px;
      width: 70%;
      opacity: 0.3;
      background-color: #094f01;
      border-radius: 25px;
      color: white;
      &__header {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        font-size: 18px;
        label, input {
          font-size: 18px;
        }
        &__question {
          margin-top: 10px;
        }
        input[type='text'], input[type='tel']  {
          width: 80%;
        }
      }
      &__btn {
        margin-top: 20px;
        width: 30%;
        border-radius: 25px;
        border: 2px solid #a28780;
        font-size: 18px;
      }
    }
  }
  .good_bye {
    margin: 100px 0;
    &__header {
      font-family: 'Ephesis';
      font-size: 100px;
      font-weight: 400;
      text-align: center;
      color: #a28780;
    }
  }
}